
.Navigation {
    display: flex;
    list-style: none;
}

.Navigation__item {
    margin-left: 16px;
}

.Navigation__link {
    position: relative;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

.Navigation__link:after {
    position: absolute;
    top: 45px;
    left: 0;
    content: "";
    width: 0;
    height: 4px;
    background: #ff5722;
    transition: width .3s linear;
}

.Navigation__link:hover {
    color: #ff5722;
}

.Navigation__link:hover:after {
    width: 100%;
}