
.Navigation {
    display: flex;
    list-style: none;
}

.Navigation__item {
    margin-left: 16px;
}

.Navigation__link {
    position: relative;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.Navigation__link:after {
    position: absolute;
    top: 47px;
    left: 0;
    content: "";
    width: 0;
    height: 4px;
    background: #3f51b5;
    transition: width .3s linear;
}

.Navigation__link:hover {
    color: #e2b100;
}

.Navigation__link:hover:after {
    width: 100%;
}