.WatchlistCard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 8px;
    color: #fff;
    margin-bottom: 16px;
    border-radius: 2px;
    background-color: #0c161e;
    -webkit-box-shadow: 5px 5px 12px 0 rgba(83, 77, 77, .3);
    box-shadow: 5px 5px 12px 0 rgba(83, 77, 77, .3);
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    cursor: pointer
}

.WatchlistCard:hover {
    -webkit-box-shadow: 5px 5px 12px 0 #534d4d;
    box-shadow: 5px 5px 12px 0 #534d4d
}

.WatchlistCard__img {
    display: block;
    width: 40%;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover
}

.WatchlistCard__body {
    width: 55%
}

.WatchlistCard__title {
    font-size: 16px;
    line-height: 1.5
}

.WatchlistCard__rating, .WatchlistCard__release {
    font-size: 14px;
    margin-top: 8px
}

.WatchlistCard__btn {
    position: absolute;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #e2b100;
    color: #0c161e;
    font-weight: 700;
    bottom: 8px;
    right: 8px;
    width: 35px;
    height: 35px;
    font-size: 24px;
    line-height: 35px;
    border-radius: 4px;
    text-transform: capitalize;
    -webkit-transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    transition: background-color .1s linear
}

.WatchlistCard__btn:hover {
    background-color: #3f51b5;
    color: #fff
}